.lead__group__caption {
    text-transform: uppercase;
    margin-left: 1.25vw;
    position: relative;
    place-items: center;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) { 
    .lead__group__caption {
        margin-left: 0;
    }
} 

@media screen and (min-width: 1280px) { 
    .lead__group__caption {
        margin-left: 0;
    }
} 
