.place__title {
    margin: 0;
    grid-column: 1; 
    grid-row: 1;
    font-size: 72pt;
    line-height: 76pt;
}

@media screen and (max-width: 767px) and (min-width: 320px) { 
    .place__title {
        grid-column: 1;
        grid-row: 1;
        font-size: 32pt;
        line-height: 35pt;
        margin: 0 1.5vw; 
    }
}
