.footer__copyright {
    grid-column: 6 / 7;
    text-align: right;
}

@media screen and (max-width: 767px) and (min-width: 320px) { 
    .footer__copyright {
        grid-column: span 1;
        text-align: left;
    }
}
