.cover__title {
    margin: 0;
    text-align: center;
    grid-area: 1 / 1 / -1 / -1;
    z-index: 3;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
     .cover__title {
        width: 75vw;
        font-size: 32pt;
        line-height: 35pt;
        margin-top: -10vh;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
     .cover__title {
        width: 75vw;
        font-size: 72pt;
        line-height: 76pt;
        margin-top: -20vh;
    }
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .cover__title {
        width: 55vw;
        font-size: 72pt;
        line-height: 76pt;
        margin-top: -20vh;
    }
}

@media screen and (min-width: 1280px) {
    .cover__title {
        width: 45vw;
        font-size: 72pt;
        line-height: 76pt;
        margin-top: -20vh;
    }
}
