.header__lang-link {
    margin-left: 2vw;
    margin-bottom: 0.25vh;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    opacity: 1;
    transition: .5s ease;
    z-index: 2;
}

.header__lang-link:hover {
    opacity: 0.5;
    transition: .5s ease;
}

.header__lang-link:nth-child(2) {
    grid-column: 2;
}

.header__lang-link:nth-child(3) {
    grid-column: 3;
}
    